*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
}


.font {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nav-links{
  list-style-type: none;
  display: none;
}

.nav-links a {
  display: block;
  padding: 15px;
  background: black;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color:white;
  
  
}

.nav-links a:hover {
  text-decoration:underline;
}

.social-media {
 display: block;
}

.nav-container {
  padding: 0 20px;
  background:black;
  display:flex;
  justify-content: space-between;
}

.nav-container img{
  width: 100px;
  align-self: center;

}

.line1, .line2, .line3 {
  width: 30px;
  height: 4px;
  margin: 5px;
  background: white;
  transition: transform 2s ease, opacity 2s ease;
}

.btn{
  padding:2px;
  display: inline-block;
  cursor: pointer;
  align-self:center;
}

.change .line1{
    transform: rotate(-45deg) translate(-7px, 6px);

}

.change .line2{
  opacity: 0;
}

.change .line3{
  transform: rotate(45deg) translate(-7px, -8px); 
}

nav {
  flex: 0 0 auto;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: background 2s ease;
  background: black;
}

nav ul li:last-of-type{
  display: flex;
}

nav ul li:last-of-type a {
   display: flex;
   flex: 1 0 auto;
   text-align-last: center;
}

.fab {
  font-size: 30px;
}

.nav-links .social-media a:hover{
  text-decoration: none;
}

.navBackground {
  background: black;
}




/*================= HERO IMAGE ==================*/

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(12, 12, 12, 0.53)), url('images/pl-gym.jpg')center/cover fixed no-repeat;
}
  

.main-title {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-text {
  flex: 0 0 90%;
  text-align: center;
  padding: 100px;
  margin-bottom: 20px;
}


.main-text h1{
  font-size: 50px;
  text-transform: uppercase;
  color:white;
  margin-bottom: 25px;
  font-weight:bolder ;

}

.main-text p{
  margin:0 auto;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 5px;
  margin-bottom: 20px;
  color: rgb(218, 216, 216);
  line-height: 2;
}

.main-btn {
  text-transform: uppercase;
  color: white;
  letter-spacing: 5px;
  border: 3px solid white;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
    padding: 10px 10px;
}

.main-btn:hover {
  color: gold;
  transform: scale(1.1);   

}

@media screen and (min-width:992px){
  .btn {
  display: none;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  .nav-container{
    background: transparent;
    flex: 0 0 auto;
  }

  .nav-links{
    padding: 0 20px;
    flex: 1 0 auto; 
    display: flex !important;
    justify-self:flex-start ;
    flex-wrap: wrap;
    align-self: center;
  }
  .nav-links li{
    flex: 1 0 auto;
    text-align: center;
  }

  .nav-links a{
    background: transparent;
    text-align: center;
    color: white;
  }
  .social-media {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-self: space-around;
    list-style-type: none;
    padding: 0 20px;
    font-size: 40px;
  }

  .social-media a:hover{
    color: gold;
    transform: translateY(-10%)
  }
}


/* about section */

.section-center{
  padding-top: 64px;
  padding-bottom: 32px;   /*change this tom on media smaller padding top onyl, also deduct margin on right side */
  width: 80vw;
  max-width: 1170px;
  margin: 0 auto;
  margin-right: px;
}

.about {
  background: black;
}

.about-info{
  text-align: center;
}

.about-img{
  width: 100%;
  display: block;
  height: auto;
  align-self: center;
}

.about-img, .about-info {
  margin-bottom: 64px;
}

.about-info h2{
  text-transform: uppercase;
  color: white;
  margin-bottom: 50px;
  font-size: 2rem;
}

.about-text{
  margin-top:20px;
  margin-bottom: 20px;
  line-height: 2;
  font-weight: 300;
  color: rgb(207, 198, 198);
  font-size: 1.5rem;
}

.about-btn{
  text-transform: uppercase;
  color: white;
  letter-spacing: 4px;
  border: 3px solid white;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
  padding: 14px 25px;

}

.about-btn:hover{
  background: gold;
  color: white;
}


/* @media screen and (min-width: 992px){
  .about-center {
    display: flex;
    justify-content: space-between;

  }

 .about-info{
    flex: 0 0 calc(50% -32px);
    margin-bottom: 0;
    align-self: center;
  }
  .about-img{ 
    width: 35vw;
    height: 35vw;  
    margin-left: 100px;
  }
  
  .about-text {
      margin-right: -55px;

  }
} */

/* workout section */


#workout {
  background: rgb(31, 30, 30);
  padding: 20px;
  /* border:solid;
  border-color: red;
  border-left: none;
  border-right: none;
   */
}

.title {
  font-size: 3rem;
  text-transform: capitalize;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
}

.service{
  text-align: center;
  margin:20px 0 ;
  color: white;
  align-items: center;
  border:solid;
  border-color: rgb(110, 105, 105);
  border-radius: 30px;
  padding: 30px;
}


.service h3{
  margin: 10px 0 15px 0;
  text-transform: capitalize;
  font-size: 25px;
  color: red;
  font-style: italic;
} 

.service p{
  line-height: 1.5;
  width: 75%;
  margin: 10px auto;
  font-weight: lighter;
}

#support {
display: block;
margin-right: auto;
margin-left: auto;
}

@media screen and (min-width:576px) {
  .work-center{
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .service{
    flex: 0 0 calc(50% - 16px);
  }
}

@media screen and (min-width: 1200px) {
  .service{
    flex: 0 0 calc(25% - 16px);
  }
  #support {
    margin-right: 0;
    margin-left: 0;
  }

}

/*testimonials */

#Testimonial {
  padding: 40px;
  background:rgb(7, 7, 7) ;
}

.test-title {
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
  color: white;
  font-weight: bolder;
  margin: 25px 0 20px 0;
}

.client-center{
  flex-wrap: wrap;

}

.testimonial {
  color: gainsboro;
  text-align: center;
  margin: 0;
  border-style:solid;
  border-radius:10px;
  margin: 20px;
  padding: 20px;
  background-color:gainsboro;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
}

.border{
  border:solid;
  border-color: rgb(189, 185, 184);
}

.testimonial img{
  padding-top: 10px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}


.testimonial h3{
  margin: 5px 0 ;
  color: #494949;
  font-size: 11px;
}

.testimonial h4{
  font-size: 10px;
  font-weight: 300;
  color: #4e4e4e;;
}

.testimonial p{
  line-height: 1.5;
  width: 70%;
  margin: 30px auto;
  font-weight:bold;
  color: black;
}

@media screen and (min-width:1040px) {
  .client-center{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .testimonial{
    flex: 0 0 calc(34% - 50px);     
  }
}


/* change "our classes" to gallery */


#gallery {
  background: rgb(31, 30, 30);
  padding: 40px;
}

#gallery .title{
  font-size: 3rem;
  text-transform: capitalize;
  color: white;
  text-align: center;
  margin: 25px 0  0;
}

.gallery-container {
  max-width: 90vw;
  margin: 0 auto;
}

.gallery-item{
  color: rgb(204, 202, 202);
  margin: 10px 0;
  font-weight: bolder;

}

#gallery img{
  width: 100%;
  display: block;
  border-radius: 20px;
}

.img-container {
  position: relative;
  width: 100%;
  display: block;
  
}

.gallery-item h4{
  margin-top: 10px;
  margin-left: 18px;
  text-align: center;
}

@media screen and (min-width:576px){
  .gallery-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

@media screen and (min-width:992px) {
  .gallery-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
  
}

/* sub section */

#subscribe {
  padding:40px;
  background: black;

}

#subscribe .title{
  font-size: 30px;
  text-transform: capitalize;
  color:white;
  text-align: center;
  margin: 25px 0 20px 0;
}

.input-group{
  width: 80vw;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
}



.form-control{
  flex: 1 1 auto;
}

.form-control, .btn-submit {
  padding: 6px 9px;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 1.5;
  background: white;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
}

::placeholder{
  background-color: white;
  color: black;
}

.btn-submit{
  color: white;
  background-color: rgb(180, 170, 170);
}

footer{
  background-color: rgb(110, 105, 105);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;  
}

.footer-text{
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  margin-bottom: 10px;
}

.terms{
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  margin-bottom: 10px;
  justify-content: space-between;
}


